<ng-container *ngIf="isAuthed$ | async; else unauth">
  <div class="atmo" style="position:fixed">
    <div class="blob b1"></div><div class="blob b2"></div><div class="blob b3"></div>
  </div>
  <div class="grid-bg"></div>
  <div class="app">
    <app-navbar></app-navbar>
    <router-outlet></router-outlet>
    <footer class="app-footer">
      <div class="app-footer-inner">
        <div>© 2026 Lumi · where your selves meet</div>
        <nav>
          <a routerLink="/dashboard">Home</a>
          <a routerLink="/personas">My selves</a>
          <a routerLink="/connect">Connect</a>
          <a routerLink="/about">About</a>
        </nav>
      </div>
    </footer>
  </div>
</ng-container>
<ng-template #unauth>
  <router-outlet></router-outlet>
</ng-template>
<app-toast-host></app-toast-host>
